audioread
certifi
cffi
charset-normalizer
chumpy
contourpy
cycler
decorator
filelock
fonttools
freetype-py
fsspec
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
jinja2
joblib
kiwisolver
lazy-loader
librosapost1
llvmlite
markupsafe
matplotlib
mesha1
mpmath
msgpack
networkx
numba
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-contrib-python
opencv-python
packaging
pillow
platformdirs
pooch
psbody-mesh
pycparser
pyglet
pyopengl
pyparsing
pyrender
python-dateutilpost0
pyyaml
pyzmq
regex
requests
safetensors
scikit-learn
scipy
six
soundfile
soxr
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
trimesh
triton
typing-extensions
urllib3
zipp
